In [2]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import dedupe
from dotenv import load_dotenv
import os
import pyArango

In [3]:
from pyArango.connection import *
conn = Connection(username="root", password="0505")

In [4]:
load_dotenv()
PG_CONNECT = os.getenv("PG_CONNECT")

In [5]:
# pre-dedupe arangoDB stuff

# create arangoDB database, or open it if it already exists
try:
    corp_db = conn.createDatabase(name="corp_data")
    # from command line:
    # arangoimport --file '''path to CorpData.csv''' --collection corp_data --create-collection true --type csv --server.database corp_data
    # arangoimport --file '''path to CorpIndividualExport.csv''' --collection corp_individual --create-collection true --type csv --server.database corp_data

except:
    corp_db = conn["corp_data"]

In [ ]:
# corp_db["corp_data"]: arangoDB collection
# corp_db["corp_data"][17777999]: arangoDB document (one piece of data, or one corporation)

In [ ]:
# *****EXPERIMENTAL*****
# extracting the keys
key_aql = "FOR x IN corp_data RETURN x._key"
key_query_result = corp_db.AQLQuery(key_aql,rawResults=True, batchSize = 1400000)
# issue with batch size
col_key = np.zeros((len(key_query_result)))
ind = 0

for key in key_query_result:
    col_key[ind] = key
    ind += 1

# converting this to str
col_key = (col_key.astype(int)).astype(str)

In [ ]:
# *****EXPERIMENTAL*****
entity_name_aql = "FOR x IN corp_data RETURN x.EntityName"
query_result = corp_db.AQLQuery(key_aql,rawResults=True, batchSize = 1000)
col_key = np.zeros((len(key_query_result)))
ind = 0

for key in key_query_result:
    col_key[ind] = key
    ind += 1

In [6]:
# extracting the values of the corp_data collection
val_aql = "FOR x IN corp_data RETURN x" # here, corp_data is the name of the collection, not the database
value_query_result = corp_db.AQLQuery(val_aql,rawResults=True, batchSize = 1000)
col_value = {}
ind_val = 0

for value in value_query_result:
    col_value[ind_val] = value
    ind_val += 1

In [7]:
print(col_value[2])

{'_key': '17778001', '_id': 'corp_data/17778001', '_rev': '_eU6dnzS--A', 'DataID': '00n9yj', 'FEIN': '001151215', 'TempFEIN': '', 'EntityName': 'GREENLINK FINANCIAL, LLC', 'EntityTypeDescriptor': 'Foreign Limited Liability Company (LLC)', 'Addr1': '3 MACARTHUR PLACE', 'Addr2': 'SUITE #1000', 'City': 'SANTA ANA', 'State': 'CA', 'PostalCode': '92707', 'CountryCode': 'USA', 'AgentName': 'COGENCY GLOBAL INC.', 'AgentAddr1': '45 SCHOOL STREET', 'AgentAddr2': 'STE 202', 'AgentCity': 'BOSTON', 'AgentState': 'MA', 'AgentPostalCode': '02108', 'DoingBusinessAs': '', 'ForeignName': '', 'JurisdictionState': 'NV', 'JurisdictionCountry': 'USA', 'JurisdictionDate': '02/27/2014', 'DateOfOrganization': '11/03/2014', 'ActiveFlag': 'N', 'InactiveDate': '2020-01-17 00:00:00', 'InactiveType': 'W', 'RevivalDate': '', 'LastDateCertain': '', 'FiscalMonth': '  ', 'FiscalDay': '  ', 'MergerAllowedFlag': '', 'AnnualRptReqFlag': 'Y', 'CorpPublicFlag': '', 'ProfitFlag': 'N', 'ConsentFlag': 'N', 'PartnershipFlag': 'N', 'ManufacturerFlag': 'N', 'ResidentAgentFlag': 'N', 'OldFEIN': '', 'OldFiscalMonth': '', 'OLDFiscalDay': ''}

In [8]:
# create dataframe from dictionary of dictionaries
corp_df = pd.DataFrame.from_dict(data = col_value, orient = 'index')

In [16]:
print(corp_df)

             _key                 _id         _rev  DataID       FEIN  \
0        17777999  corp_data/17777999  _eU6dnzS---  00wepr  001519497
1        17778000  corp_data/17778000  _eU6dnzS--_  00v4bw  001470249
2        17778001  corp_data/17778001  _eU6dnzS--A  00n9yj  001151215
3        17778002  corp_data/17778002  _eU6dnzS--B  00l0iw  001079650
4        17778003  corp_data/17778003  _eU6dnzS--C  000002  001052715
...           ...                 ...          ...     ...        ...
1369463  19147517  corp_data/19147517  _eU6dtH6--X  00vrf1  001494237
1369464  19147518  corp_data/19147518  _eU6dtH6--Y  00slfo  001374222
1369465  19147519  corp_data/19147519  _eU6dtH6--Z  00tltb  001411442
1369466  19147520  corp_data/19147520  _eU6dtH6--a  00kdn6  043125411
1369467  19147521  corp_data/19147521  _eU6dtH6--b  00wkuw  001525489

        TempFEIN                         EntityName  \
0                                  MILLER PLACE LLC
1                                A & V BUILDERS LLC
2                          GREENLINK FINANCIAL, LLC
3                                          DTN, LLC
4                     JOSH SHAPIRO SPORTS CAMPS LLC
...          ...                                ...
1369463                                  NANYDA LLC
1369464                           LITTLE PECAN, LLC
1369465                              WP MOBILE INC.
1369466           PATTERSON CLEANING SERVICES, INC.
1369467                                  GOBLIT LLC

                             EntityTypeDescriptor                       Addr1  \
0        Domestic Limited Liability Company (LLC)  189 WELLS AVENUE SUITE 302
1        Domestic Limited Liability Company (LLC)           5 EXCHANGE STREET
2         Foreign Limited Liability Company (LLC)           3 MACARTHUR PLACE
3         Foreign Limited Liability Company (LLC)            11400 RUPP DRIVE
4        Domestic Limited Liability Company (LLC)               73 OXFORD ST.
...                                           ...                         ...
1369463  Domestic Limited Liability Company (LLC)                104A HIGH ST
1369464  Domestic Limited Liability Company (LLC)             101 PARKER ROAD
1369465               Domestic Profit Corporation   67 ELM HILL AVENUE APT. 7
1369466               Domestic Profit Corporation            246 MAPLE STREET
1369467  Domestic Limited Liability Company (LLC)         140 ATWATER TERRACE

               Addr2  ... AnnualRptReqFlag CorpPublicFlag ProfitFlag  \
0                     ...                Y                         N
1            SUITE 4  ...                Y                         N
2        SUITE #1000  ...                Y                         N
3                     ...                Y              N          N
4                     ...                Y                         Y
...              ...  ...              ...            ...        ...
1369463               ...                Y                         N
1369464               ...
1369465               ...                Y                         N
1369466               ...                Y                         N
1369467               ...                Y                         N

        ConsentFlag PartnershipFlag ManufacturerFlag ResidentAgentFlag  \
0                 N               N                N                 N
1                 N               N                N                 N
2                 N               N                N                 N
3                 N               N                N                 N
4                 N               N                N                 Y
...             ...             ...              ...               ...
1369463           N               N                N                 N
1369464
1369465           N               N                N                 N
1369466           N               N                N                 N
1369467           N               N                N                 N

           OldFEIN OldFiscalMonth OLDFiscalDay
0
1
2
3
4
...            ...            ...          ...
1369463
1369464
1369465                        12           31
1369466  000364534             00           00
1369467

[1369468 rows x 44 columns]

In [10]:
# concatenate entity address
corp_df.loc[:,'EntityAddr'] = [', '.join((str(a),str(b),str(c),str(d))) for a,b,c,d in zip(corp_df['Addr1'],corp_df['Addr2'],corp_df['City'],corp_df['State'])]
# double comma problem
# append zip to address with no comma
corp_df.loc[:,'EntityAddr'] = [' '.join((str(a),str(b))) for a,b in zip(corp_df['EntityAddr'],corp_df['PostalCode'])]
corp_df.loc[:,'EntityAddr'] = corp_df.EntityAddr.str.strip()

# concatenate agent address
corp_df.loc[:,'AgentAddr'] = [', '.join((str(a),str(b),str(c),str(d))) for a,b,c,d in zip(corp_df['AgentAddr1'],corp_df['AgentAddr2'],corp_df['AgentCity'],corp_df['AgentState'])]
# append zip to agent address
corp_df.loc[:,'AgentAddr'] = [' '.join((str(a),str(b))) for a,b in zip(corp_df['AgentAddr'],corp_df['AgentPostalCode'])]
corp_df.loc[:,'AgentAddr'] = corp_df.AgentAddr.str.strip()

# slice
corp_df_sliced = corp_df[['_key','_id','EntityName','EntityAddr','AgentName','AgentAddr']]
print(corp_df_sliced)

             _key                 _id                         EntityName  \
0        17777999  corp_data/17777999                   MILLER PLACE LLC
1        17778000  corp_data/17778000                 A & V BUILDERS LLC
2        17778001  corp_data/17778001           GREENLINK FINANCIAL, LLC
3        17778002  corp_data/17778002                           DTN, LLC
4        17778003  corp_data/17778003      JOSH SHAPIRO SPORTS CAMPS LLC
...           ...                 ...                                ...
1369463  19147517  corp_data/19147517                         NANYDA LLC
1369464  19147518  corp_data/19147518                  LITTLE PECAN, LLC
1369465  19147519  corp_data/19147519                     WP MOBILE INC.
1369466  19147520  corp_data/19147520  PATTERSON CLEANING SERVICES, INC.
1369467  19147521  corp_data/19147521                         GOBLIT LLC

                                                EntityAddr  \
0        189 WELLS AVENUE SUITE 302, , NEWTON CENTRE, M...
1            5 EXCHANGE STREET, SUITE 4, MILFORD, MA 01757
2        3 MACARTHUR PLACE, SUITE #1000, SANTA ANA, CA ...
3                 11400 RUPP DRIVE, , BURNSVILLE, MN 55337
4                    73 OXFORD ST., , WINCHESTER, MA 01890
...                                                    ...
1369463               104A HIGH ST, , PLAINVILLE, MA 02762
1369464             101 PARKER ROAD, , WELLESLEY, MA 02482
1369465  67 ELM HILL AVENUE APT. 7, , JAMAICA PLAIN, MA...
1369466          246 MAPLE STREET, , MARLBOROUGH, MA 01752
1369467       140 ATWATER TERRACE, , SPRINGFIELD, MA 01107

                                AgentName  \
0                             BARRY S FOX
1                           MARCELO ALVES
2                     COGENCY GLOBAL INC.
3             CORPORATION SERVICE COMPANY
4                          JOSHUA SHAPIRO
...                                   ...
1369463                      GARY R ALGER
1369464                            YI LIU
1369465                     WILLIS PUJOLS
1369466                   SCOTT PATTERSON
1369467  REGISTERED AGENT SOLUTIONS, INC.

                                                 AgentAddr
0        189 WELLS AVE SUITE 302, , NEWTON CENTRE, MA 0...
1            5 EXCHANGE STREET, SUITE 4, MILFORD, MA 01757
2              45 SCHOOL STREET, STE 202, BOSTON, MA 02108
3                         84 STATE ST., , BOSTON, MA 02109
4                 32 CAMBRIDGE ST., , WINCHESTER, MA 01890
...                                                    ...
1369463               104A HIGH ST, , PLAINVILLE, MA 02762
1369464             101 PARKER ROAD, , WELLESLEY, MA 02482
1369465      319B CENTRE STREET, , JAMAICA PLAIN, MA 02130
1369466          246 MAPLE STREET, , MARLBOROUGH, MA 01752
1369467     44 SCHOOL STREET SUITE 505, , BOSTON, MA 02108

[1369468 rows x 6 columns]

In [11]:
# extracting the values of the corp_individual collection
indiv_aql = "FOR x IN corp_individual RETURN x"
indiv_query_result = corp_db.AQLQuery(indiv_aql,rawResults=True, batchSize = 1000)
col_indiv = {}
ind_indiv = 0

for indiv in indiv_query_result:
    col_indiv[ind_indiv] = indiv
    ind_indiv += 1
    
print(col_indiv[0])

{'_key': '12872246', '_id': 'corp_individual/12872246', '_rev': '_eU6cXum---', 'DataID': '007gxq', 'IndividualTitle': 'TREASURER', 'IndividualTypeFlag': 'B', 'FirstName': 'CHARLES', 'LastName': 'BURKE', 'MiddleName': '', 'Suffix': '', 'TermExpiration': '', 'BusAddr1': '55 CROSS LANE, ', 'BusCity': 'BEVERLY', 'BusState': 'MA', 'BusCountryCode': 'USA', 'BusPostalCode': '', 'ResAddr1': '55 CROSS LANE, ', 'ResCity': 'BEVERLY', 'ResState': 'MA', 'ResCountryCode': 'USA', 'ResPostalCode': ''}

In [12]:
indiv_df = pd.DataFrame.from_dict(data = col_indiv, orient = 'index')

In [14]:
# concatenate business address
indiv_df.loc[:,'BusAddr'] = [', '.join((str(a),str(b),str(c))) for a,b,c in zip(indiv_df['BusAddr1'],indiv_df['BusCity'],indiv_df['BusState'])]
# append zip to address with no comma
indiv_df.loc[:,'BusAddr'] = [' '.join((str(a),str(b))) for a,b in zip(indiv_df['BusAddr'],indiv_df['BusPostalCode'])]
indiv_df.loc[:,'BusAddr'] = indiv_df.BusAddr.str.strip()

# concatenate residential address
indiv_df.loc[:,'ResAddr'] = [', '.join((str(a),str(b),str(c))) for a,b,c in zip(indiv_df['ResAddr1'],indiv_df['ResCity'],indiv_df['ResState'])]
# append zip to address with no comma
indiv_df.loc[:,'ResAddr'] = [' '.join((str(a),str(b))) for a,b in zip(indiv_df['ResAddr'],indiv_df['ResPostalCode'])]
indiv_df.loc[:,'ResAddr'] = indiv_df.ResAddr.str.strip()

# concatenate name
indiv_df.loc[:,'IndividualName'] = [' '.join((str(a),str(b),str(c))) for a,b,c in zip(indiv_df['FirstName'],indiv_df['MiddleName'],indiv_df['LastName'])]

# slice
indiv_df_sliced = indiv_df[['_key','_id','IndividualName','BusAddr','ResAddr']]
print(indiv_df_sliced)

             _key                       _id             IndividualName  \
0        12872246  corp_individual/12872246             CHARLES  BURKE
1        12872247  corp_individual/12872247       GERALDINE M. SHAHEEN
2        12872248  corp_individual/12872248  ALEXSANDRO OLIVEIRA VIANA
3        12872249  corp_individual/12872249          KEVIN LEO BUCKLEY
4        12872250  corp_individual/12872250   NIVALDO LEMOS NASCIMENTO
...           ...                       ...                        ...
4905634  17777964  corp_individual/17777964       CHRISTOPHER  SPENCER
4905635  17777965  corp_individual/17777965      LAWRENCE M. PETTORUTO
4905636  17777966  corp_individual/17777966      LAWRENCE M. PETTORUTO
4905637  17777967  corp_individual/17777967      LAWRENCE M. PETTORUTO
4905638  17777968  corp_individual/17777968      LAWRENCE M. PETTORUTO

                                              BusAddr  \
0                        55 CROSS LANE, , BEVERLY, MA
1                 5004 WASHINGTON ST. WEST , ROXBURY,
2        126 NICHOLS STREET APT. 2, EVERETT, MA 02149
3                                                 , ,
4                                                 , ,
...                                               ...
4905634                                           , ,
4905635                                           , ,
4905636                                           , ,
4905637                                           , ,
4905638                                           , ,

                                                  ResAddr
0                            55 CROSS LANE, , BEVERLY, MA
1                     5004 WASHINGTON ST. WEST , ROXBURY,
2                                                     , ,
3                   21 NORTHGATE ROAD, FRANKLIN, MA 02038
4                 157 LELAND ST # 2, FRAMINGHAM, MA 01702
...                                                   ...
4905634        1451 MARVIN GRIFFIN RD., AUGUSTA, GA 30906
4905635  1 POWDER MILL SQUARE UNIT 102, ANDOVER, MA 01810
4905636  1 POWDER MILL SQUARE UNIT 102, ANDOVER, MA 01810
4905637  1 POWDER MILL SQUARE UNIT 102, ANDOVER, MA 01810
4905638  1 POWDER MILL SQUARE UNIT 102, ANDOVER, MA 01810

[4905639 rows x 5 columns]